<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Entidades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Entidades.Properties.Settings>
            <setting name="connectionStr" serializeAs="String">
                <value>Data Source=lab3pc14\sqlexpress;Initial Catalog=correo-sp-2017;Integrated Security=True</value>
            </setting>
        </Entidades.Properties.Settings>
    </applicationSettings>
</configuration>